* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

/* navbar start */
#logo {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}

#nav {
  background-color: #fff;
  border-bottom: #cecece solid 3px;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav div {
  margin-top: 1rem;
}

#nav-btn {
  background-color: #000;
  border-radius: 5px;
  box-shadow: #8f8f8f 3px 2px 6px;
  color: #fff;
  font-size: 1.7rem;
  margin: 1rem 1.4rem;
  padding: 0.2rem 1.4rem;
}

.nav-link {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1.3rem 2rem;
}

@media screen and (max-width: 860px) {
  #logo {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .about {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #nav div {
    margin: 1rem 3rem;
  }

  .projects {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #nav {
    height: 4rem;
  }

  #nav-btn {
    background-color: #fff;
    box-shadow: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.7rem 2rem;
  }

  .nav-link {
    font-size: 1.4rem;
    margin: 1rem;
  }
}
/* navbar ends */

/* content start */
.div {
  background-color: red;
  height: 10vh;
  margin: 3rem 3rem;
}

main {
  padding-top: 5rem;
}

section {
  height: auto;
}

.divider {
  border-bottom: #000 solid 3px;
}

#hero {
  margin: 12rem 20rem;
  text-align: center;
}

.heading {
  font-size: 10rem;
}

.subheading {
  font-size: 3.5rem;
  font-weight: 600;
}

@media screen and (max-width: 1700px) {
  #hero {
    margin: 7rem 20rem;
  }  
  .heading {
    font-size: 8rem;
  }
  .subheading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1506px) {
  #hero {
    margin: 6rem 20rem;
  }
  .heading {
    font-size: 8rem;
  }
  .subheading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1332px) {
  #hero {
    margin: 6rem 20rem;
  }
  .heading {
    font-size: 6rem;
  }
  .subheading {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1157px) {
  #hero {
    margin: 6rem 15rem;
  }
}

@media screen and (max-width: 1000px) {
  #hero {
    margin: 6rem 14rem;
  }
  .subheading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .heading {
    font-size: 4rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 850px) {
  .subheading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 795px) {
  #hero {
    margin: 4rem 10rem;
  }
  .heading {
    font-size: 3rem;
    font-weight: 800;
  }
  .subheading {
    font-weight: 700;
  }
}

@media screen and (max-width: 623px) {
  #hero {
    margin: 3rem 4rem;
  }
  .heading {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .subheading {
    font-size: 1.3rem;
  }
}
/* content ends  */
